<% if places != [] %>
  <%= places.each do |place| %>
    <%= link_to place.name, place_path(place) %><br/>
  <% end %>
<% else %>
  <div><h3>You have not added any places yet.</h3></div>
  <div><%= button_to 'Add Your First Place', new_place_path, class: 'btn btn-primary', method: :get %></div>
<% end %>